<div *ngIf="crisis">
      <ul class="questions">
        <li *ngFor="let section of crisis.Sections">
        <h2>{{section.Title}}</h2>              
        <div>
            <ol>
                <li *ngFor="let prompt of section.Prompts">
                    <p>{{prompt.PromptText }}  </p>
                    <div *ngFor="let response of prompt.ResponseSet">
                        <div class="q" *ngIf="response.Type == 'text'">
                            <input type="text" [(ngModel)]="prompt.PrompText" placeholder="" />
                        </div>
                        <div class="q" *ngIf="response.Type == 'checkbox'">
                            <input type="checkbox"  [(ngModel)]="response.Id"  />
                            <label>{{response.Label}}</label>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </li>
    </ul>

</div>

