<div *ngIf="crisis" style="clear:both;">
      <ul class="questions">
        <li *ngFor="let section of crisis.Sections;let i = index;">
        <div style="clear:both;">
        <h2>{{section.Title}}</h2>              
        <div>
            <ul >
                <li *ngFor="let prompt of section.Prompts;let j = index;">
                    <div style="clear:both;">
                    <h3>Question {{j +1}}:</h3>
                    <p>{{prompt.PromptText }}  </p>
                    <div style="clear:both;overflow:hidden;">
                    <div class ="textbox"  *ngFor="let response of prompt.ResponseSet;let k=index;">               
                        <div class="q" style="min-width:600px;" *ngIf="response.Type == 'text'">
                            <input style="width:90%;" type="text" [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value" placeholder="" />
                        </div>        
                    </div>
                    <div class="checkboxgroup">
                        <div class="checkbox" *ngFor="let response of prompt.ResponseSet;let k=index;">                                  
                            <div class="q" *ngIf="response.Type == 'checkbox'">
                                <input type="checkbox"  [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value"  />
                                <label>{{response.Label}}</label>
                            </div>
                        </div>
                    </div> 
                </div> 
                </div>                 
                </li>
            </ul>
        </div>
    </div>
    </li>
    </ul>
    
    <button (click)="saveAnswer()">save</button>
</div>

