<div *ngIf="survey" style="clear:both;">
    <div>
        <h4>Patient Information:</h4>
        <div class="row">
            <div class="col-md-6">
                <label>First Name:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.FirstName" placeholder="" />
            </div>
            <div class="col-md-6">
                <label>Last Name:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.LastName" placeholder="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Date of Birth:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.dateOfBirth" placeholder="" />
            </div>
            <div class="col-md-6">
                <label>Gender:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.Gender" placeholder="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Grade:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.Grade" placeholder="" />
            </div>
        </div>       
    </div>
      <ul class="questions">
        <li *ngFor="let section of survey.Sections;let i = index;">
        <div style="clear:both;">
        <h4 style="margin-top:40px;">{{section.Title}}</h4>              
        <div>
            <ul class="q-list">
                <li  *ngFor="let prompt of section.Prompts;let j = index;">
                    <div style="clear:both;">
                    <h5>Question {{j +1}}:</h5>
                    <div class="row">
                    <div class="col-md-10">
                     <p>{{prompt.PromptText }}  </p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-10" [hidden]="response.Type != 'text'"  *ngFor="let response of prompt.ResponseSet;let k=index;">               
                        <div class="q" style="min-width:600px;" [hidden]="response.Type != 'text'">
                            <input  type="text" class="form-control" [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value" placeholder="" />
                        </div>        
                    </div>
                    <div class="col-md-2" >
                        <div class="checkbox" *ngFor="let response of prompt.ResponseSet;let k=index;">                                  
                            <div class="q" [hidden]="response.Type != 'checkbox'">
                                <input type="checkbox"  [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value"  />
                                <label>{{response.Label}}</label>
                            </div>
                        </div>
                    </div> 
                </div> 
                </div>                 
                </li>
            </ul>

        </div>
    </div>
    </li>
    </ul>
    
    <!-- <a [routerLink]="['/hero', surveyAnswer.SurveyId]">
        <span class="badge">{{ surveyAnswer.SurveyId }}</span>This Survey
      </a> -->

    <button (click)="saveAnswer()">save</button>
</div>

