<div *ngIf="survey" style="clear:both;">
    <div >
        <h3>Patient Information:</h3>
        <div class="row">
            <div class="col-md-6">
                <label>First Name:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.FirstName" placeholder="" />
            </div>
            <div class="col-md-6">
                <label>Last Name:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.LastName" placeholder="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Date of Birth:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.dateOfBirth" placeholder="" />
            </div>
            <div class="col-md-6">
                <label>Gender:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.Gender" placeholder="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Grade:</label>
                <input class="form-control"  type="text" [(ngModel)]="surveyAnswer.Patient.Grade" placeholder="" />
            </div>
        </div>       
    </div>
      <ul class="questions">
        <li *ngFor="let section of survey.Sections;let i = index;">
        <div style="clear:both;">
        <h2>{{section.Title}}</h2>              
        <div>
            <ul >
                <li class="prompt" *ngFor="let prompt of section.Prompts;let j = index;">
                    <div style="clear:both;">
                    <h3>Question {{j +1}}:</h3>
                    <p>{{prompt.PromptText }}  </p>
                    <div style="clear:both;overflow:hidden;">
                    <div class ="textbox"  *ngFor="let response of prompt.ResponseSet;let k=index;">               
                        <div class="q" style="min-width:600px;" *ngIf="response.Type == 'text'">
                            <input style="width:90%;" type="text" [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value" placeholder="" />
                        </div>        
                    </div>
                    <div class="checkboxgroup">
                        <div class="checkbox" *ngFor="let response of prompt.ResponseSet;let k=index;">                                  
                            <div class="q" *ngIf="response.Type == 'checkbox'">
                                <input type="checkbox"  [(ngModel)]="surveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value"  />
                                <label>{{response.Label}}</label>
                            </div>
                        </div>
                    </div> 
                </div> 
                </div>                 
                </li>
            </ul>

        </div>
    </div>
    </li>
    </ul>
    
    <!-- <a [routerLink]="['/hero', surveyAnswer.SurveyId]">
        <span class="badge">{{ surveyAnswer.SurveyId }}</span>This Survey
      </a> -->

    <button (click)="saveAnswer()">save</button>
</div>

