<div *ngIf="survey" style="clear:both;">
      <ul class="questions">
        <li *ngFor="let section of survey.Sections;let i = index;">
        <div style="clear:both;">            
        <div>
            <ul class="q-list">
                <li  *ngFor="let prompt of section.Prompts;let j = index;">
                    <div style="clear:both;">
                    <h5>Question {{j +1}}:</h5>
                    <div class="row">
                    <div class="col-md-10">
                     <p>{{prompt.PromptText }}  </p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-10" [hidden]="response.Type != 'text'"  *ngFor="let response of prompt.ResponseSet;let k=index;">               
                        <div class="q" style="min-width:600px;" [hidden]="response.Type != 'text'">
                            <input  type="text" class="form-control" [(ngModel)]="survey.SurveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value" placeholder="" />
                        </div>        
                    </div>
                    <div class="col-md-10" [hidden]="response.Type != 'inline_text'"  *ngFor="let response of prompt.ResponseSet;let k=index;">               
                        <div class="q" style="min-width:400px;" [hidden]="response.Type != 'inline_text'">
                            <input style="height:40px;width:40%"  type="text" class="form-control" [(ngModel)]="survey.SurveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value" placeholder="" />
                        </div>        
                    </div>
                    <div class="col-md-2" >
                        <div class="checkbox" *ngFor="let response of prompt.ResponseSet;let k=index;">                                  
                            <div class="q" [hidden]="response.Type != 'checkbox'">
                                <input type="checkbox"  [(ngModel)]="survey.SurveyAnswer.SectionAnswers[i].Answers[j].Controls[k].Value"  />
                                <label>{{response.Label}}</label>
                            </div>
                        </div>
                    </div> 
                </div> 
                </div>                 
                </li>
            </ul>

        </div>
    </div>
    </li>
    </ul>
    <h4>Interviewee Information</h4>
    <div class ="row" style="margin-bottom:20px;">      
        <div class="col-4">
            First Name  <input class="form-control" style="width:80%" type="text" [(ngModel)]="survey.SurveyAnswer.User.FirstName" />
        </div>

        <div class="col-4">
            Last Name <input class="form-control"  style="width:80%" type="text" [(ngModel)]="survey.SurveyAnswer.User.LastName" />
        </div>

    </div>

    <button (click)="saveAnswer()"  class="btn btn-risc">save</button>
      <ngbd-modal-component></ngbd-modal-component>
</div>

