/* Master Styles */
@import "~bootstrap/dist/css/bootstrap.css";
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.input{
  display: block;
    width: 90%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F8F8F8;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom:10px;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  margin-top:10px;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
ul{
  list-style: none;
  padding:0;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
nav{
  height:55px;
}
/* Navigation link styles */
nav a {
  padding: 10px 5px;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 5px;
  display: inline-block;
  color:darkgrey;
  font-weight:600;
}
.menu{
  height:80px;
}
nav a:hover {
  color:black;

}
.btn-risc{
  font-size:12px;
  background-color:#408AE1;
  width:160px;
  padding:10px;
  color:#fff;
  text-transform: uppercase;
}
nav a.active {
 color:black;
 border-bottom: #408AE1 solid 4px;
}
.sub-menu a.active{
  border-bottom:none !important;
}
.items a{
  color:darkgrey;
}
.items a.active{
  font-weight:bold;
  border-color: #408AE1;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.questions{
  list-style:none;
  padding:0;
}
h3,h4,h5{
  color:#000;
}
.q-list>li{
  margin-bottom:30px;
}
.prompt p{
  width:540px;
  
  padding-left:30px;
}
.prompt .textbox{
  padding-left:30px;
}
.q input[type='checkbox']{
width:15px;
}
.q input[type='text']{
  display: block;
    width: 100%;
    padding: 12px 6px 90px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F8F8F8;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.menu{
  background:#fff;
  padding-left:40px;
  padding-top:12px;
  padding-bottom:12px;
}
body{
  background:#F8F8F8;
  margin:0;
}
.patient-info{
  width:70%;
  margin:20px auto;
}
.patient-info .col-md-4{
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: bold;
}
.main-body{
  background: #fff;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 7px;
  /* padding: 20px; */
  -webkit-box-shadow: -4px 11px 34px -5px lightgrey;
-moz-box-shadow: -4px 11px 34px -5px lightgrey;
box-shadow: -4px 11px 34px -5px lightgrey;
}
.checkbox{
  width:80px;
}
.checkboxgroup{
  float:left;
}
.textbox{
  float:left;
}