
<div class="row">
  <div style="background-color:#408AE1;    border-radius: 10px 0px 0 10px;" class="col-md-4">
  </div>


  <div class="col-md-8" style="border-radius:0 10px 10px 0;padding:70px 20px;">
    <div class="row patient-info">
      <label class="col-md-4">First Name</label>
      <div class="col-md-6">
        <input class="form-control"  type="text" [(ngModel)]="patient.FirstName" placeholder="" />         
      </div>
    </div>

    <div class="row patient-info">
      <label class="col-md-4">Last Name</label>
      <div class="col-md-6">
        <input class="form-control"  type="text" [(ngModel)]="patient.LastName" placeholder="" />         
      </div>
    </div>

    <div class="row patient-info">
      <label class="col-md-4">Date of Birth</label>
      <div class="col-md-6">
        <input class="form-control"  type="text" [(ngModel)]="patient.dateOfBirth" placeholder="" />         
      </div>
    </div>
    
    <div class="row patient-info">
      <label class="col-md-4">Gender</label>
      <div class="col-md-6">
        <input class="form-control"  type="text" [(ngModel)]="patient.Gender" placeholder="" />         
      </div>
    </div>
     
    <div class="row patient-info">
      <label class="col-md-4">Grade</label>
      <div class="col-md-6">
        <input class="form-control"  type="text" [(ngModel)]="patient.Grade" placeholder="" />         
      </div>
    </div>
         <div class="col-md-8 offset-md-2" style="margin-top:70px;">
      <button style="margin-right:20px;background-color:#fff;color:grey;border:1px solid #408AE1;" class="btn btn-light btn-risc">CANCEL</button>
      <a  (click)="savePatient(patient)"  class="btn btn-primary btn-risc">SAVE</a>
    </div>

      </div>

    

    </div>